@use "../abstracts/variables" as *;

.apartment__header {
  display: flex;
  margin-bottom: 1rem;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
  .apartment__title {
    flex-grow: 1;
    h1 {
      @media screen and (max-width: 768px) {
        font-size: 1.5rem;
      }
    }
  }
  .apartment__owner {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 768px) {
      flex-direction: row;
      gap: 1rem;
      justify-content: space-between;
      align-items: center;
    }
    .apartment__owner--details {
      display: flex;
      align-items: center;
      gap: 1rem;
      @media screen and (max-width: 768px) {
        justify-content: center;
        order: 2;
      }

      h3 {
        text-align: end;
        font-weight: 400;
      }
      .apartment__owner--badge img {
        height: 64px;
        width: 64px;
        border-radius: 50%;
      }
    }
    .apartment__owner--stars {
      display: flex;
      gap: 0.5rem;
      justify-content: center;
      margin-top: auto;
      color: $dark-grey;
      @media screen and (max-width: 768px) {
        order: 1;
        margin: 0;
      }

      * {
        font-size: 1.5rem;
      }
      .full {
        color: $primary-color;
      }
    }
  }

  h3 {
    margin-block: 0;
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-block: 0;
    margin-bottom: 0.5em;
  }

  h2 {
    font-size: 1.2rem;
    font-weight: 500;
    color: $tertiary-color;
    margin-bottom: 1em;
  }
  .apartment__tags {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 18%));
    gap: 1rem;
    span {
      background-color: $primary-color;
      color: $secondary-color;
      font-weight: 500;
      padding: 0.3em 2em;
      border-radius: 0.7rem;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 1em;
    }
  }
}
