@use "../abstracts/variables" as *;

.apartment__description--area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  gap: 3rem;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 0;
  }
}
.description__panel {
  margin-block: 0;
  color: $tertiary-color;
  margin-bottom: 1em;
  width: 100%;
  li {
    list-style: none;
  }
  .description__header {
    display: flex;
    justify-content: space-between;
    background-color: $primary-color;
    color: $secondary-color;
    padding: 0.5em 1em;
    border-radius: 0.7rem;
    margin: 0;
    z-index: 1;
    position: relative;
    align-items: center;

    i {
      font-size: 30px;
      cursor: pointer;
      transition: transform 0.5s ease-in-out;
      &.rotate {
        transform: rotate(180deg);
      }
    }
  }
  .description__content {
    padding: 2em 1em;
    background-color: $light-grey;
    margin-block: 0;
    z-index: 0;
    border-radius: 1rem;
    position: relative;
    top: -1rem;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    &.show {
      max-height: 500px;
      opacity: 1;
      padding: 1.5rem;
    }
    
    &.hide {
      max-height: 0;
      opacity: 0;
      padding: 0 1em;
    }
  }
}