@use '../abstracts/variables' as *;

.footer {
  background-color: $background-dark;
  padding: 20px 0;
  min-height: 150px;
  text-align: center;
  color: $secondary-color;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  &__copyright {
    font-size: 16px;
    font-weight: 500;
  }
}
