@use '../abstracts/variables' as *;


.navbar {
  display: flex;
  align-items: center;
  background-color: $background-light;
  padding: 0 3em;
  font-weight: 500;
  gap: 2rem;
  margin-bottom: 2em;
  margin-top: 2em;
  @media screen and (max-width: 768px) {
    text-transform: uppercase;  
    padding: 0 1em;  
  }

  & > *:first-child {
    margin-right: auto;
  }

  & a {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    @media screen and (max-width: 768px) {
      font-size: 1rem;
      
    }
    &:hover,
    &.active {
      color: $primary-color;
    }
  }

  &__logo--img {
    @media screen and (max-width: 768px) {
      width: 100px;
      height: 30px;
    }
  }

  @media screen and (max-width: 768px) {
    &__logo {
      width: 100%;
    }
  }
}
